In [ ]:
# install chromium, its driver, and selenium
!apt update
!apt install chromium-chromedriver
!pip install selenium
# set options to be headless, ..
from selenium import webdriver
options = webdriver.ChromeOptions()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')
# open it, go to a website, and get results

In [3]:
import numpy as np, pandas as pd,time
from selenium import webdriver
from selenium.webdriver import Safari
from selenium.webdriver import DesiredCapabilities
from requests import get
from bs4 import BeautifulSoup
import time
from datetime import datetime
from pytz import timezone

In [ ]:
def times_of_india(url):
    
    times_of_india_dict={}
    
    #chromedriver='/Users/prinjaldave/Downloads/chromedriver'
    #op = webdriver.ChromeOptions()
    #op.add_argument('headless')
    #browser = webdriver.Chrome(chromedriver,options=op)
    
    browser = webdriver.Chrome('chromedriver',options=options)
    times_of_india_dict.update({'Date':[]})
    times_of_india_dict.update({'Author':[]})
    times_of_india_dict.update({'Vertical':[]})
    times_of_india_dict.update({'Headline':[]})
    times_of_india_dict.update({'Description':[]})
    
    sep_url=url+'/archive/year-2020,month-9.cms'
    browser.get(sep_url)
    time.sleep(1)
    sep_page=browser.page_source
    sep_page_soup=BeautifulSoup(sep_page,'lxml')
    
    sep_calender=sep_page_soup.find_all('table',attrs={'id':'calender'})[0].find_all('a')
    
    for x in range(len(sep_calender)):
        if sep_calender[x].text=='':
            continue
        else:
            print(str(x)+' '+datetime.now(timezone('Asia/Calcutta')).strftime('%H:%M:%S'))
            next_date=sep_calender[x].get('href')
            next_url=url+next_date
            browser.get(next_url)
            time.sleep(1)
            next_page=browser.page_source
            next_soup=BeautifulSoup(next_page,'lxml')
            int_page_list=next_soup.find_all('span',attrs={'style':'font-family:arial ;font-size:12;color: #006699'})[0].find_all('a')
            for y in range(len(int_page_list)):
                try:
                    times_of_india_dict['Headline'].append(int_page_list[y].text)
                except:
                    times_of_india_dict['Headline'].append(None)
                try:
                    date=next_soup.find_all('b')[0].text
                except:
                    date=None
                news_link=int_page_list[y].get('href')
                browser.get(news_link)
                time.sleep(1)
                news=browser.page_source
                news_soup=BeautifulSoup(news,'lxml')
                try:
                    author=news_soup.find_all('div',attrs={'class':'_3Mkg- byline'})[0].span.a.text
                except:
                    try:
                        author=news_soup.find_all('span',attrs={'class':'auth_detail'})[0].text
                    except:
                        author=None
#                 try:
#                     date=news_soup.find_all('div',attrs={'data-plugin':'dateformat'})[0].text.replace('Created:','').replace('Updated:','').strip()
#                 except:
#                     date=None
                try:
                    vertical=news_soup.find_all('span',attrs={'itemprop':'name'})[1].text
                except:
                    vertical=None
                try:
                    description=news_soup.find_all('div',attrs={'class':'ga-headlines'})[0].text
                except:
                    try:
                        description=news_soup.find_all('div',attrs={'class':'Normal'})[0].text
                    except:
                        description=None
                
                times_of_india_dict['Author'].append(author)
                times_of_india_dict['Date'].append(date)
                times_of_india_dict['Vertical'].append(vertical)
                times_of_india_dict['Description'].append(description)
            
    oct_url=url+'/archive/year-2020,month-10.cms'
    browser.get(oct_url)
    time.sleep(1)
    oct_page=browser.page_source
    oct_page_soup=BeautifulSoup(oct_page,'lxml')
    
    oct_calender=oct_page_soup.find_all('table',attrs={'id':'calender'})[0].find_all('a')
    
    for x in range(len(oct_calender)):
        if oct_calender[x].text=='':
            continue
        else:
            print(str(x)+' '+datetime.now(timezone('Asia/Calcutta')).strftime('%H:%M:%S'))
            next_date=oct_calender[x].get('href')
            next_url=url+next_date
            browser.get(next_url)
            time.sleep(1)
            next_page=browser.page_source
            next_soup=BeautifulSoup(next_page,'lxml')
            int_page_list=next_soup.find_all('span',attrs={'style':'font-family:arial ;font-size:12;color: #006699'})[0].find_all('a')
            for y in range(len(int_page_list)):
                try:
                    times_of_india_dict['Headline'].append(int_page_list[y].text)
                except:
                    times_of_india_dict['Headline'].append(None)
                try:
                    date=next_soup.find_all('b')[0].text
                except:
                    date=None
                news_link=int_page_list[y].get('href')
                browser.get(news_link)
                time.sleep(1)
                news=browser.page_source
                news_soup=BeautifulSoup(news,'lxml')
                try:
                    author=news_soup.find_all('div',attrs={'class':'_3Mkg- byline'})[0].span.a.text
                except:
                    try:
                        author=news_soup.find_all('span',attrs={'class':'auth_detail'})[0].text
                    except:
                        author=None
#                 try:
#                     date=news_soup.find_all('div',attrs={'data-plugin':'dateformat'})[0].text.replace('Created:','').replace('Updated:','').strip()
#                 except:
#                     date=None
                try:
                    vertical=news_soup.find_all('span',attrs={'itemprop':'name'})[1].text
                except:
                    vertical=None
                try:
                    description=news_soup.find_all('div',attrs={'class':'ga-headlines'})[0].text
                except:
                    try:
                        description=news_soup.find_all('div',attrs={'class':'Normal'})[0].text
                    except:
                        description=None    
                
                times_of_india_dict['Author'].append(author)
                times_of_india_dict['Date'].append(date)
                times_of_india_dict['Vertical'].append(vertical)
                times_of_india_dict['Description'].append(description)
    
    times_of_india_df=pd.DataFrame(times_of_india_dict)
    times_of_india_df.to_csv('TIMES_OF_INDIA_DEC_FEB.csv')
    times_of_india_df.to_json('TIMES_OF_INDIA_DEC_FEB.json')
    to_xml(times_of_india_df,'TIMES_OF_INDIA_DEC_FEB.xml')
    return times_of_india_df

In [ ]:
def times_of_india_chunk(url,month,start_day,end_day):
    
    times_of_india_dict={}
    
    #chromedriver='/Users/prinjaldave/Downloads/chromedriver'
    #op = webdriver.ChromeOptions()
    #op.add_argument('headless')
    #browser = webdriver.Chrome(chromedriver,options=op)

    browser = webdriver.Chrome('chromedriver',options=options)
    times_of_india_dict.update({'Date':[]})
    times_of_india_dict.update({'Author':[]})
    times_of_india_dict.update({'Vertical':[]})
    times_of_india_dict.update({'Headline':[]})
    times_of_india_dict.update({'Description':[]})
    
    if month=='sep':
      sep_url=url+'/archive/year-2020,month-9.cms'
      browser.get(sep_url)
      time.sleep(1)
      sep_page=browser.page_source
      sep_page_soup=BeautifulSoup(sep_page,'lxml')
      
      sep_calender=sep_page_soup.find_all('table',attrs={'id':'calender'})[0].find_all('a')
      
      for x in range(start_day,end_day): #range(len(oct_calender)):
          if sep_calender[x].text=='':
              continue
          else:
              print(str(x)+' '+datetime.now(timezone('Asia/Calcutta')).strftime('%H:%M:%S'))
              next_date=sep_calender[x].get('href')
              next_url=url+next_date
              browser.get(next_url)
              time.sleep(1)
              next_page=browser.page_source
              next_soup=BeautifulSoup(next_page,'lxml')
              int_page_list=next_soup.find_all('span',attrs={'style':'font-family:arial ;font-size:12;color: #006699'})[0].find_all('a')
              for y in range(len(int_page_list)):
                  try:
                      times_of_india_dict['Headline'].append(int_page_list[y].text)
                  except:
                      times_of_india_dict['Headline'].append(None)
                  try:
                      date=next_soup.find_all('b')[0].text
                  except:
                      date=None
                  news_link=int_page_list[y].get('href')
                  browser.get(news_link)
                  time.sleep(1)
                  news=browser.page_source
                  news_soup=BeautifulSoup(news,'lxml')
                  try:
                      author=news_soup.find_all('a',attrs={'class':'auth_detail author-name'})[0].text
                  except:
                      try:
                          author=news_soup.find_all('span',attrs={'id':'authortext'})[0].text
                      except:
                        try:
                          author=news_soup.find_all('div',attrs={'itmeprop':'author'})[0].a.text
                        except:
                          author=None
  #                 try:
  #                     date=news_soup.find_all('div',attrs={'data-plugin':'dateformat'})[0].text.replace('Created:','').replace('Updated:','').strip()
  #                 except:
  #                     date=None
                  try:
                      vertical=news_soup.find_all('span',attrs={'itemprop':'name'})[1].text
                  except:
                      vertical=None
                  try:
                      description=news_soup.find_all('div',attrs={'class':'ga-headlines'})[0].text
                  except:
                      try:
                          description=news_soup.find_all('div',attrs={'class':'Normal'})[0].text
                      except:
                          description=None
                  
                  times_of_india_dict['Author'].append(author)
                  times_of_india_dict['Date'].append(date)
                  times_of_india_dict['Vertical'].append(vertical)
                  times_of_india_dict['Description'].append(description)
    elif month=='oct':        
      oct_url=url+'/archive/year-2020,month-10.cms'
      browser.get(oct_url)
      time.sleep(1)
      oct_page=browser.page_source
      oct_page_soup=BeautifulSoup(oct_page,'lxml')
      
      oct_calender=oct_page_soup.find_all('table',attrs={'id':'calender'})[0].find_all('a')
      
      for x in range(start_day,end_day): #range(len(oct_calender)):
          if oct_calender[x].text=='':
              continue
          else:
              print(str(x)+' '+datetime.now(timezone('Asia/Calcutta')).strftime('%H:%M:%S'))
              next_date=oct_calender[x].get('href')
              next_url=url+next_date
              browser.get(next_url)
              time.sleep(1)
              next_page=browser.page_source
              next_soup=BeautifulSoup(next_page,'lxml')
              int_page_list=next_soup.find_all('span',attrs={'style':'font-family:arial ;font-size:12;color: #006699'})[0].find_all('a')
              for y in range(len(int_page_list)):
                  try:
                      times_of_india_dict['Headline'].append(int_page_list[y].text)
                  except:
                      times_of_india_dict['Headline'].append(None)
                  try:
                      date=next_soup.find_all('b')[0].text
                  except:
                      date=None
                  news_link=int_page_list[y].get('href')
                  browser.get(news_link)
                  time.sleep(1)
                  news=browser.page_source
                  news_soup=BeautifulSoup(news,'lxml')
                  try:
                      author=news_soup.find_all('div',attrs={'class':'_3Mkg- byline'})[0].span.a.text
                  except:
                      try:
                          author=news_soup.find_all('span',attrs={'class':'auth_detail'})[0].text
                      except:
                          author=None
  #                 try:
  #                     date=news_soup.find_all('div',attrs={'data-plugin':'dateformat'})[0].text.replace('Created:','').replace('Updated:','').strip()
  #                 except:
  #                     date=None
                  try:
                      vertical=news_soup.find_all('span',attrs={'itemprop':'name'})[1].text
                  except:
                      vertical=None
                  try:
                      description=news_soup.find_all('div',attrs={'class':'ga-headlines'})[0].text
                  except:
                      try:
                          description=news_soup.find_all('div',attrs={'class':'Normal'})[0].text
                      except:
                          description=None    
                  
                  times_of_india_dict['Author'].append(author)
                  times_of_india_dict['Date'].append(date)
                  times_of_india_dict['Vertical'].append(vertical)
                  times_of_india_dict['Description'].append(description)
    
    times_of_india_df=pd.DataFrame(times_of_india_dict)
    times_of_india_df.to_csv('drive/My Drive/TIMES_OF_INDIA_'+month+' '+str(end_day)+'.csv')
    #times_of_india_df.to_json('drive/My Drive/TIMES_OF_INDIA_'+month+' '+str(end_day)+'.json')
    #to_xml(times_of_india_df,'drive/My Drive/TIMES_OF_INDIA_'+month+' '+str(end_day)+'.xml')
    return times_of_india_df

In [29]:
def to_xml(df, filename=None, mode='w'):
    def row_to_xml(row):
        xml = ['<item>']
        for i, col_name in enumerate(row.index):
            xml.append('  <field name="{0}">{1}</field>'.format(col_name, row.iloc[i]))
        xml.append('</item>')
        return '\n'.join(xml)
    res = '\n'.join(df.apply(row_to_xml, axis=1))

    if filename is None:
        return res
    with open(filename, mode) as f:
        f.write(res)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_sep_2_12=times_of_india_chunk('https://timesofindia.indiatimes.com','sep',2,12)
df_sep_12_22=times_of_india_chunk('https://timesofindia.indiatimes.com','sep',12,22)
df_sep_22_31=times_of_india_chunk('https://timesofindia.indiatimes.com','sep',22,32)
df_oct_4_14=times_of_india_chunk('https://timesofindia.indiatimes.com','oct',4,14)
df_oct_14_24=times_of_india_chunk('https://timesofindia.indiatimes.com','oct',14,24)
df_oct_24_32=times_of_india_chunk('https://timesofindia.indiatimes.com','oct',24,35)

In [ ]:
df_sep_2_12=pd.read_csv('drive/MyDrive/Colab Notebooks/Export/TIMES_OF_INDIA_sep 12.csv').drop('Unnamed: 0',axis=1)
df_sep_2_12.head()

          Date  ...                                        Description
0  1 Sep, 2020  ...  Much to the relief of the city’s watering hole...
1  1 Sep, 2020  ...  Kaftan became one of the most popular trends d...
2  1 Sep, 2020  ...  Looks like Evelyn Sharma, who in Australia the...
3  1 Sep, 2020  ...  On Rituparno Ghosh’s birth anniversary, actres...
4  1 Sep, 2020  ...  Right from the time she started her career to ...

[5 rows x 5 columns]

In [ ]:
df_sep_12_22=pd.read_csv('drive/MyDrive/Colab Notebooks/Export/TIMES_OF_INDIA_sep 22.csv').drop('Unnamed: 0',axis=1)
df_sep_12_22.head()

           Date  ...                                        Description
0  11 Sep, 2020  ...  John Kokken is no newbie as far as Kannada fil...
1  11 Sep, 2020  ...  Actress Sanjjanaa Galrani is currently under a...
2  11 Sep, 2020  ...  Since time immemorial, gold and precious gemst...
3  11 Sep, 2020  ...  Popularity on social media has its pros and co...
4  11 Sep, 2020  ...  Ever since receiving a green signal to resume ...

[5 rows x 5 columns]

In [ ]:
df_sep_22_26=pd.read_csv('drive/MyDrive/Colab Notebooks/Export/TIMES_OF_INDIA_sep 26.csv').drop('Unnamed: 0',axis=1)
df_sep_22_26.head()

           Date  ...                                        Description
0  21 Sep, 2020  ...  After playing roles with negative shades in Ka...
1  21 Sep, 2020  ...  During the lockdown, Bangalore Times had repor...
2  21 Sep, 2020  ...  *India is the second largest feminine hygiene ...
3  21 Sep, 2020  ...  Amid the #MeToo allegations against filmmaker ...
4  21 Sep, 2020  ...  Amid the #MeToo allegations against filmmaker ...

[5 rows x 5 columns]

In [ ]:
df_sep_26_29=pd.read_csv('drive/MyDrive/Colab Notebooks/Export/TIMES_OF_INDIA_sep 29.csv').drop('Unnamed: 0',axis=1)
df_sep_26_29.head()

           Date  ...                                        Description
0  25 Sep, 2020  ...  Former Mrs. World Winner, who is now a wellnes...
1  25 Sep, 2020  ...  ● There are 1,200 registered competitive swimm...
2  25 Sep, 2020  ...  Cricket, it appears, is not the only passion o...
3  25 Sep, 2020  ...  Dean Jones, one of the finest batsmen and a gr...
4  25 Sep, 2020  ...  Ashika Ranganath is back on the set of \nMadag...

[5 rows x 5 columns]

In [ ]:
df_sep_29_32=pd.read_csv('drive/MyDrive/Colab Notebooks/Export/TIMES_OF_INDIA_sep 32.csv').drop('Unnamed: 0',axis=1)
df_sep_29_32.head()

           Date  ...                                        Description
0  28 Sep, 2020  ...  Ever since she heard about organisations that ...
1  28 Sep, 2020  ...  Arjun Yogi, best known for his role in Aramane...
2  28 Sep, 2020  ...  Actors Sathish Ninasam and Aditi Prabhudeva, w...
3  28 Sep, 2020  ...  Much against the expectations of fans, journal...
4  28 Sep, 2020  ...  Taapsee Pannu paid her tribute to the famous s...

[5 rows x 5 columns]

In [ ]:
df_oct_4_14=pd.read_csv('drive/MyDrive/Colab Notebooks/Export/TIMES_OF_INDIA_oct 14.csv').drop('Unnamed: 0',axis=1)
df_oct_4_14.head()

          Date  ...                                        Description
0  1 Oct, 2020  ...  In March this year, Boroloker Bitilo – a popul...
1  1 Oct, 2020  ...                                                NaN
2  1 Oct, 2020  ...  A recent study conducted by Boston University ...
3  1 Oct, 2020  ...  Patients suffering from diabetes are generally...
4  1 Oct, 2020  ...  Actor Ansh Bagri, who was last seen in the sho...

[5 rows x 5 columns]

In [ ]:
df_oct_14_24=pd.read_csv('drive/MyDrive/Colab Notebooks/Export/TIMES_OF_INDIA_oct 24.csv').drop('Unnamed: 0',axis=1)
df_oct_14_24.head()

           Date  ...                                        Description
0  11 Oct, 2020  ...  Actress-turned-politician Shruthi, who has bee...
1  11 Oct, 2020  ...  The first two films I remember watching and en...
2  11 Oct, 2020  ...  Now that Durga Puja is just round the corner, ...
3  11 Oct, 2020  ...  Actor \nSkanda Ashok is elated to be back at w...
4  11 Oct, 2020  ...  Over the last 7 months, many turned their live...

[5 rows x 5 columns]

In [ ]:
df_oct_24_35=pd.read_csv('drive/MyDrive/Colab Notebooks/Export/TIMES_OF_INDIA_oct 35.csv').drop('Unnamed: 0',axis=1)
df_oct_24_35.head()

           Date  ...                                        Description
0  21 Oct, 2020  ...  For the city’s Bengali population, Durga Puja ...
1  21 Oct, 2020  ...  The illuminated Mysore palace, main thoroughfa...
2  21 Oct, 2020  ...  Even as the central government has announced t...
3  21 Oct, 2020  ...  Tovino Thomas sounds happy and relaxed while t...
4  21 Oct, 2020  ...  Celebrating Navratri amid pandemic is a new ex...

[5 rows x 5 columns]

In [ ]:
df=pd.concat([df_sep_2_12,df_sep_12_22,df_sep_22_26,df_sep_26_29,df_sep_29_32,df_oct_4_14,df_oct_14_24,df_oct_24_35],axis=0)
df

              Date  ...                                        Description
0      1 Sep, 2020  ...  Much to the relief of the city’s watering hole...
1      1 Sep, 2020  ...  Kaftan became one of the most popular trends d...
2      1 Sep, 2020  ...  Looks like Evelyn Sharma, who in Australia the...
3      1 Sep, 2020  ...  On Rituparno Ghosh’s birth anniversary, actres...
4      1 Sep, 2020  ...  Right from the time she started her career to ...
...            ...  ...                                                ...
2734  31 Oct, 2020  ...  LUCKNOW: Despite Covid-induced lockdown, Uttar...
2735  31 Oct, 2020  ...  Kolkata: An IPL betting racket was busted by t...
2736  31 Oct, 2020  ...  Nashik: Families celebrated Eid Milad-un-Nabi ...
2737  31 Oct, 2020  ...  Nashik: The city courts have fined 107 people ...
2738  31 Oct, 2020  ...  Nashik: The recent study conducted by a team f...

[15189 rows x 5 columns]

In [5]:
df=pd.read_csv('drive/MyDrive/Colab Notebooks/TIMES_OF_INDIA_PRINJAL_DAVE_SEP_OCT_2020.csv')

In [6]:
df.head()

   Unnamed: 0  ...                                        Description
0           0  ...  Much to the relief of the city’s watering hole...
1           1  ...  Kaftan became one of the most popular trends d...
2           2  ...  Looks like Evelyn Sharma, who in Australia the...
3           3  ...  On Rituparno Ghosh’s birth anniversary, actres...
4           4  ...  Right from the time she started her career to ...

[5 rows x 6 columns]

In [20]:
df['Month']=df['Date'].apply(lambda x : x[x.find(' ')+1:x.find(',')])

In [22]:
df.head()

          Date Author  ...                                        Description Month
0  1 Sep, 2020    NaN  ...  Much to the relief of the city’s watering hole...   Sep
1  1 Sep, 2020    NaN  ...  Kaftan became one of the most popular trends d...   Sep
2  1 Sep, 2020    NaN  ...  Looks like Evelyn Sharma, who in Australia the...   Sep
3  1 Sep, 2020    NaN  ...  On Rituparno Ghosh’s birth anniversary, actres...   Sep
4  1 Sep, 2020    NaN  ...  Right from the time she started her career to ...   Sep

[5 rows x 6 columns]

In [24]:
df_oct=df[df['Month']=='Oct'].reset_index().drop('index',axis=1)
df_oct.head()

          Date Author  ...                                        Description Month
0  1 Oct, 2020    NaN  ...  In March this year, Boroloker Bitilo – a popul...   Oct
1  1 Oct, 2020    NaN  ...                                                NaN   Oct
2  1 Oct, 2020    NaN  ...  A recent study conducted by Boston University ...   Oct
3  1 Oct, 2020    NaN  ...  Patients suffering from diabetes are generally...   Oct
4  1 Oct, 2020    NaN  ...  Actor Ansh Bagri, who was last seen in the sho...   Oct

[5 rows x 6 columns]

In [25]:
df_sep=df[df['Month']=='Sep'].reset_index().drop('index',axis=1)
df_sep.head()

          Date Author  ...                                        Description Month
0  1 Sep, 2020    NaN  ...  Much to the relief of the city’s watering hole...   Sep
1  1 Sep, 2020    NaN  ...  Kaftan became one of the most popular trends d...   Sep
2  1 Sep, 2020    NaN  ...  Looks like Evelyn Sharma, who in Australia the...   Sep
3  1 Sep, 2020    NaN  ...  On Rituparno Ghosh’s birth anniversary, actres...   Sep
4  1 Sep, 2020    NaN  ...  Right from the time she started her career to ...   Sep

[5 rows x 6 columns]

In [26]:
df_oct.to_csv('drive/MyDrive/Colab Notebooks/TIMES_OF_INDIA_PRINJAL_DAVE_OCT_2020.csv')
df_sep.to_csv('drive/MyDrive/Colab Notebooks/TIMES_OF_INDIA_PRINJAL_DAVE_SEP_2020.csv')

In [27]:
df_oct.to_json('drive/MyDrive/Colab Notebooks/TIMES_OF_INDIA_PRINJAL_DAVE_OCT_2020.json')
df_sep.to_json('drive/MyDrive/Colab Notebooks/TIMES_OF_INDIA_PRINJAL_DAVE_SEP_2020.json')

In [30]:
to_xml(df_oct,'drive/MyDrive/Colab Notebooks/TIMES_OF_INDIA_PRINJAL_DAVE_OCT_2020.xml')
to_xml(df_sep,'drive/MyDrive/Colab Notebooks/TIMES_OF_INDIA_PRINJAL_DAVE_SEP_2020.xml')